body
{
	background-color: #282A35;
}
#big_title
{
	text-align: center;
	font-size: 80px;
	font-weight: 800;
	font-family: sans-serif;
	color: white;
}

#subtitle
{
	text-align: center;
	color: white;
}

button
{
	margin: 0 auto;
}