{% extends "programare/programare_base.html" %}
{% load static %}

{% block title%} Invata Programare {% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'programare/lectii.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
	<h2>Introducere</h2>
	<p>In primul rand vreau sa iti multumesc pentru ca ai ales acest site pentru a invata programare. Probabil ca ai ajuns aici pentru ca vrei sa inveti programare sau pentru ca trebuie. Daca esti la liceu te anunt inca de pe acum ca unele lucruri nu vor fi la fel ca cele invatate la clasa. In programare sunt multe moduri in care se pot rezolva problemele, iar modul prezentat de catre profesorii de liceu nu este mereu cel mai bun.</p>
</div>
{% endblock content %}